.hero {
  padding: 60px;
  position: relative;
  max-width: 620px;
  width: 80%;
}

.hero .hero_title {
  margin: 6px 6px 24px 0;
  font-weight: 400;
  font-size: 40px;
}

.hero .hero_description {
  line-height: 160%;
}

.schedule {
  color: #202124;
}

.schedule_section {
  border-top: 1px solid #ededed;
}

.schedule_section:last-of-type {
  border-bottom: 1px solid #ededed;
}

.schedule_content {
  display: flex;
}

.schedule_time {
  padding: 30px 0 30px 60px;
  flex-basis: 200px;
  font-size: 34px;
  color: #202124;
}

.schedule_time span {
  margin-left: 4px;
  font-size: 14px;
  text-transform: uppercase;
}

.schedule_events {
  display: flex;
  align-items: center;
  flex: 1;
}

.schedule_event {
  display: flex;
  flex: 1;
  align-items: center;
  min-height: 100%;
  padding: 20px 35px;
  border-left: 1px solid #ededed;
  box-sizing: border-box;
  cursor: pointer;
}

.schedule_event:hover {
  background-color: #fafafa;
}

.schedule_event_details {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.schedule_event_title {
  font-size: 19px;
  line-height: 26px;
  font-weight: 500;
  color: #4a4a4a;
  margin: 0;
}

.schedule_event_meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
  font-size: 13px;
}

.schedule_event_description {
  margin: 4px 28px 6px 0;
}

.schedule_event_topic {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
}

.schedule_event_topic::before {
  content: '';
  width: 12px;
  height: 12px;
  background: #202124;
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
}

.schedule_loading {
  display: flex;
  border-top: 1px solid #ededed;
}
.schedule_loading:last-of-type {
  border-bottom: 1px solid #ededed;
}
.schedule_loading_time {
  margin: 30px 0 30px 60px;
  background: #bababa;
  flex-basis: 140px;
}
.schedule_loading_content {
  margin: 20px 35px;
  align-items: center;
  flex: 1;
}
.schedule_loading_title {
  width: 60%;
  height: 26px;
  background: #bababa;
}
.shcedule_loading_description {
  width: 40%;
  height: 18px;
  margin-top: 8px;
  background: #bababa;
}

.place {
}

.place iframe {
  width: 100%;
  height: 450px;
}

@media (max-width: 768px) {
  .hero {
    max-width: initial;
    padding: 15px;
    width: 90%;
  }
  .schedule_time {
    font-size: 16px;
    line-height: 26px;
    color: #4768fd;
    padding: 16px 0;
    text-align: center;
    flex-basis: 66px;
  }
  .schedule_time span {
    display: block;
    margin: 0;
    font-size: 11px;
    line-height: 12px;
  }
  .schedule_events {
    flex-direction: column;
    align-items: flex-start;
  }
  .schedule_event {
    border-left: none;
    padding: 16px 10px 16px 20px;
    width: 100%;
    min-height: auto;
  }
  .schedule_event_title {
    font-size: 16px;
    line-height: 20px;
  }
}

